p1{
font-family:courier,monospace;
font-size:50px;
}
p2{
font-family:serif,monospace;
font-size:50px;
}
p1{
font-family:
font-size:50px;
}
p2{
font-family:
font-size:20px;
font-size:50px;
}
p3{
font-family:sans-serif,monospace;
font-size:50px;
}
p4{
font-family:
font-size:50px;
}
p5{
font-family:
font-size:50px;
}
p6{
font-family:
font-size:50px;
}
p7{
font-family:
font-size:50px;
}
p8{
font-family:
font-size:50px;
}
p9{
font-family:
font-size:50px;
}